@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-title {
        font-weight: 600;
        --tw-text-opacity: 1;
        color: theme(colors.migomorado);
        /*color: rgb(123 34 124 / var(--tw-text-opacity, 1)) /* #7b227c */;
    }
}